@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'JetBrains Mono';
        font-weight: 100 800;
        src: url("/assets/fonts/JetBrains Mono/Regular.ttf") format("truetype");
        font-style: normal;
    }
    @font-face {
        font-family: 'JetBrains Mono';
        font-weight: 100 800;
        src: url("/assets/fonts/JetBrains Mono/Italic.ttf") format("truetype");
        font-style: italic;
    }
}

@layer components {
    .theme-text {
        @apply text-dark-1 dark:text-light-4 font-jetbrains font-thin;
    }
    .theme-date {
        @apply text-dark-1 dark:text-light-1 font-jetbrains font-thin;
    }
    .theme-base {
        @apply bg-light-4 dark:bg-dark-1 theme-text flex flex-col min-h-screen;
    }
    .theme-mobile-navbar {
        @apply bg-light-3 dark:bg-dark-2 theme-text justify-center text-center;
    }
    .theme-toggle-button {
        @apply text-dark-3 dark:text-light-4 hover:bg-light-1 dark:hover:bg-dark-3;
    }
    .theme-hover {
        @apply hover:bg-light-1 dark:hover:bg-dark-4 transition-[background-color] duration-300 ease-in-out;
    }
    .theme-cards {
        @apply bg-light-3 dark:bg-dark-2 theme-text justify-center text-center rounded-2xl desktop:rounded-lg ;
        transition: none;
    }
    .theme-highlight {
        @apply bg-light-1 dark:bg-dark-4 py-0.5 px-1 rounded-md;
    }
    .theme-highlight-hover {
        @apply theme-highlight hover:bg-light-3 hover:dark:bg-dark-2;
    }
    .theme-link {
        @apply underline text-blue-600 dark:text-blue-400 px-1 rounded-md;
    }
    .content-base {
        @apply flex-grow justify-center text-center px-10;
    }
}